@import url('https://fonts.googleapis.com/css2?family=Teko:wght@300;400;500;600;700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

#date {
  background: -webkit-linear-gradient(#eee, #ffdf00 );
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.top-slash {
  transform:translateX(12px) skewX(-45deg);
  margin-bottom: -4px;
}
.bottom-slash {
  transform:translateX(-12px) skewX(-45deg);
  margin-top:-4px
} 
.active-link::after{
  content:'';
  display: block;
  opacity: 1;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 2px;
  border-radius: 50%;
  width: 8px;
  height: 8px;
  background: red;
 }